{% extends 'shops/base.html' %}
{% block content %}
<h2>Edit Shop - {{ shop.name }}</h2>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-success">Save Changes</button>
    <a href="javascript:history.back()" class="btn btn-secondary">Cancel</a>

    <form method="post" action="{% url 'delete_shop' shop.id %}" style="margin-top: 20px;">

        <button type="submit" name="delete" class="btn btn-danger">Delete Shop</button>
      </form>

{% endblock %}

</form>
